Service/Tests/Service.Client/Service References/MedicalServiceReference/MedicalServiceReference6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CareManagement.Model/2012/Medical" elementFormDefault="qualified" targetNamespace="http://CareManagement.Model/2012/Medical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" />
  <xs:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" />
  <xs:element name="FacilityRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" minOccurs="0" name="Facility" nillable="true" type="q1:Facility" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q2:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacilityIdRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FacilityId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q3:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" name="Facility" nillable="true" type="q4:Facility" />
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" name="Facilities" nillable="true" type="q5:ArrayOfFacility" />
  <xs:element name="ProviderRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" minOccurs="0" name="Provider" nillable="true" type="q6:Provider" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q7:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProviderIdRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q8:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" name="Provider" nillable="true" type="q9:Provider" />
  <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" name="Providers" nillable="true" type="q10:ArrayOfProvider" />
  <xs:element name="MedicalAppointmentRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" minOccurs="0" name="MedicalAppointment" nillable="true" type="q11:MedicalAppointment" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q12:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicalAppointmentIdRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MedicalAppointmentId" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q13:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" name="MedicalAppointment" nillable="true" type="q14:MedicalAppointment" />
  <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" name="MedicalAppointments" nillable="true" type="q15:ArrayOfMedicalAppointment" />
</xs:schema>