Service/Tests/Service.Client/Service References/MedicalServiceReference/MedicalService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://CareManagement.Model/2012/Medical" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MedicalService" targetNamespace="http://CareManagement.Model/2012/Medical" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Medical_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://CareManagement.Model/2012/Medical/Imports">
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd2" namespace="http://CareManagement.Model/2012/Medical" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd3" namespace="http://CareManagement.Model/2012/Insurance" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Scheduling" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FacilityMessage">
    <wsdl:part name="Facility" element="tns:Facility" />
  </wsdl:message>
  <wsdl:message name="MedicalContract_AddFacility_OutputMessage" />
  <wsdl:message name="MedicalContract_DeleteFacility_OutputMessage" />
  <wsdl:message name="MedicalContract_UpdateFacility_OutputMessage" />
  <wsdl:message name="FacilityIdMessage">
    <wsdl:part name="FacilityId" element="tns:FacilityId" />
  </wsdl:message>
  <wsdl:message name="AccountIdMessage">
    <wsdl:part xmlns:q1="http://CareManagement.Model/2012/Insurance" name="AccountId" element="q1:AccountId" />
  </wsdl:message>
  <wsdl:message name="FacilitiesMessage">
    <wsdl:part name="Facilities" element="tns:Facilities" />
  </wsdl:message>
  <wsdl:message name="ProviderMessage">
    <wsdl:part name="Provider" element="tns:Provider" />
  </wsdl:message>
  <wsdl:message name="MedicalContract_AddProvider_OutputMessage" />
  <wsdl:message name="MedicalContract_DeleteProvider_OutputMessage" />
  <wsdl:message name="MedicalContract_UpdateProvider_OutputMessage" />
  <wsdl:message name="ProviderIdMessage">
    <wsdl:part name="ProviderId" element="tns:ProviderId" />
  </wsdl:message>
  <wsdl:message name="ProvidersMessage">
    <wsdl:part name="Providers" element="tns:Providers" />
  </wsdl:message>
  <wsdl:message name="MedicalAppointmentMessage">
    <wsdl:part name="MedicalAppointment" element="tns:MedicalAppointment" />
  </wsdl:message>
  <wsdl:message name="MedicalContract_AddMedicalAppointment_OutputMessage" />
  <wsdl:message name="MedicalContract_DeleteMedicalAppointment_OutputMessage" />
  <wsdl:message name="MedicalContract_UpdateMedicalAppointment_OutputMessage" />
  <wsdl:message name="MedicalAppointmentIdMessage">
    <wsdl:part name="MedicalAppointmentId" element="tns:MedicalAppointmentId" />
  </wsdl:message>
  <wsdl:message name="MedicalAppointmentsMessage">
    <wsdl:part name="MedicalAppointments" element="tns:MedicalAppointments" />
  </wsdl:message>
  <wsdl:portType name="MedicalContract">
    <wsdl:operation name="AddFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/AddFacility" name="FacilityMessage" message="tns:FacilityMessage" />
      <wsdl:output wsaw:Action="addfacility" message="tns:MedicalContract_AddFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/DeleteFacility" name="FacilityMessage" message="tns:FacilityMessage" />
      <wsdl:output wsaw:Action="deletefacility" message="tns:MedicalContract_DeleteFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/UpdateFacility" name="FacilityMessage" message="tns:FacilityMessage" />
      <wsdl:output wsaw:Action="updatefacility" message="tns:MedicalContract_UpdateFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/GetFacility" name="FacilityIdMessage" message="tns:FacilityIdMessage" />
      <wsdl:output wsaw:Action="getfacility" name="FacilityMessage" message="tns:FacilityMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacilitiesByAccount">
      <wsdl:input wsaw:Action="GetFacilitiesByAccount" name="AccountIdMessage" message="tns:AccountIdMessage" />
      <wsdl:output wsaw:Action="getfacilitiesbyaccount" name="FacilitiesMessage" message="tns:FacilitiesMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProvider">
      <wsdl:input wsaw:Action="AddProvider" name="ProviderMessage" message="tns:ProviderMessage" />
      <wsdl:output wsaw:Action="addprovider" message="tns:MedicalContract_AddProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProvider">
      <wsdl:input wsaw:Action="DeleteProvider" name="ProviderMessage" message="tns:ProviderMessage" />
      <wsdl:output wsaw:Action="deleteprovider" message="tns:MedicalContract_DeleteProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProvider">
      <wsdl:input wsaw:Action="UpdateProvider" name="ProviderMessage" message="tns:ProviderMessage" />
      <wsdl:output wsaw:Action="updateprovider" message="tns:MedicalContract_UpdateProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvider">
      <wsdl:input wsaw:Action="GetProvider" name="ProviderIdMessage" message="tns:ProviderIdMessage" />
      <wsdl:output wsaw:Action="getprovider" name="ProviderMessage" message="tns:ProviderMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderByAccount">
      <wsdl:input wsaw:Action="GetProviderByAccount" name="AccountIdMessage" message="tns:AccountIdMessage" />
      <wsdl:output wsaw:Action="getproviderbyaccount" name="ProvidersMessage" message="tns:ProvidersMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderByFacility">
      <wsdl:input wsaw:Action="GetProviderByFacility" name="FacilityIdMessage" message="tns:FacilityIdMessage" />
      <wsdl:output wsaw:Action="getproviderbyfacility" name="ProvidersMessage" message="tns:ProvidersMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMedicalAppointment">
      <wsdl:input wsaw:Action="AddMedicalAppointment" name="MedicalAppointmentMessage" message="tns:MedicalAppointmentMessage" />
      <wsdl:output wsaw:Action="addmedicalappointment" message="tns:MedicalContract_AddMedicalAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalAppointment">
      <wsdl:input wsaw:Action="DeleteMedicalAppointment" name="MedicalAppointmentMessage" message="tns:MedicalAppointmentMessage" />
      <wsdl:output wsaw:Action="deletemedicalappointment" message="tns:MedicalContract_DeleteMedicalAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalAppointment">
      <wsdl:input wsaw:Action="UpdateMedicalAppointment" name="MedicalAppointmentMessage" message="tns:MedicalAppointmentMessage" />
      <wsdl:output wsaw:Action="updatemedicalappointment" message="tns:MedicalContract_UpdateMedicalAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointment">
      <wsdl:input wsaw:Action="GetMedicalAppointment" name="MedicalAppointmentIdMessage" message="tns:MedicalAppointmentIdMessage" />
      <wsdl:output wsaw:Action="getmedicalappointment" name="MedicalAppointmentMessage" message="tns:MedicalAppointmentMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByAccount">
      <wsdl:input wsaw:Action="GetMedicalAppointmentsByAccount" name="AccountIdMessage" message="tns:AccountIdMessage" />
      <wsdl:output wsaw:Action="GetMedicalAppointmentsByAccount" name="MedicalAppointmentsMessage" message="tns:MedicalAppointmentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByFacility">
      <wsdl:input wsaw:Action="GetMedicalAppointmentsByFacility" name="FacilityIdMessage" message="tns:FacilityIdMessage" />
      <wsdl:output wsaw:Action="getmedicalappointmentsbyfacility" name="MedicalAppointmentsMessage" message="tns:MedicalAppointmentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByProvider">
      <wsdl:input wsaw:Action="GetMedicalAppointmentsByProvider" name="ProviderIdMessage" message="tns:ProviderIdMessage" />
      <wsdl:output wsaw:Action="getmedicalappointmentsbyprovider" name="MedicalAppointmentsMessage" message="tns:MedicalAppointmentsMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Medical" type="tns:MedicalContract">
    <wsp:PolicyReference URI="#Medical_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/AddFacility" style="document" />
      <wsdl:input name="FacilityMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/DeleteFacility" style="document" />
      <wsdl:input name="FacilityMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/UpdateFacility" style="document" />
      <wsdl:input name="FacilityMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/GetFacility" style="document" />
      <wsdl:input name="FacilityIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilityMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacilitiesByAccount">
      <soap:operation soapAction="GetFacilitiesByAccount" style="document" />
      <wsdl:input name="AccountIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilitiesMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProvider">
      <soap:operation soapAction="AddProvider" style="document" />
      <wsdl:input name="ProviderMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProvider">
      <soap:operation soapAction="DeleteProvider" style="document" />
      <wsdl:input name="ProviderMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProvider">
      <soap:operation soapAction="UpdateProvider" style="document" />
      <wsdl:input name="ProviderMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvider">
      <soap:operation soapAction="GetProvider" style="document" />
      <wsdl:input name="ProviderIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProviderMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderByAccount">
      <soap:operation soapAction="GetProviderByAccount" style="document" />
      <wsdl:input name="AccountIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProvidersMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderByFacility">
      <soap:operation soapAction="GetProviderByFacility" style="document" />
      <wsdl:input name="FacilityIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProvidersMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMedicalAppointment">
      <soap:operation soapAction="AddMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalAppointment">
      <soap:operation soapAction="DeleteMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalAppointment">
      <soap:operation soapAction="UpdateMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointment">
      <soap:operation soapAction="GetMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByAccount">
      <soap:operation soapAction="GetMedicalAppointmentsByAccount" style="document" />
      <wsdl:input name="AccountIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByFacility">
      <soap:operation soapAction="GetMedicalAppointmentsByFacility" style="document" />
      <wsdl:input name="FacilityIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByProvider">
      <soap:operation soapAction="GetMedicalAppointmentsByProvider" style="document" />
      <wsdl:input name="ProviderIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedicalService">
    <wsdl:port name="Medical" binding="tns:Medical">
      <soap:address location="https://lerwick-lt/CareManagementService/MedicalServiceReference.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>