Service/Tests/Service.Client/Service References/MedicalServiceReference/MedicalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://CareManagement.Model/2012/Medical" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MedicalService" targetNamespace="http://CareManagement.Model/2012/Medical" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://CareManagement.Model/2012/Medical/Imports">
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd0" namespace="http://CareManagement.Model/2012/Medical" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd4" namespace="http://CareManagement.Model/2012/Insurance" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/MedicalServiceReference.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Scheduling" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FacilityRequestMessage">
    <wsdl:part name="parameters" element="tns:FacilityRequestMessage" />
  </wsdl:message>
  <wsdl:message name="MedicalContract_AddFacility_OutputMessage" />
  <wsdl:message name="MedicalContract_DeleteFacility_OutputMessage" />
  <wsdl:message name="MedicalContract_UpdateFacility_OutputMessage" />
  <wsdl:message name="FacilityIdRequestMessage">
    <wsdl:part name="parameters" element="tns:FacilityIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="FacilityMessage">
    <wsdl:part name="Facility" element="tns:Facility" />
  </wsdl:message>
  <wsdl:message name="AccountIdRequestMessage">
    <wsdl:part xmlns:q1="http://CareManagement.Model/2012/Insurance" name="parameters" element="q1:AccountIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="FacilitiesMessage">
    <wsdl:part name="Facilities" element="tns:Facilities" />
  </wsdl:message>
  <wsdl:message name="ProviderRequestMessage">
    <wsdl:part name="parameters" element="tns:ProviderRequestMessage" />
  </wsdl:message>
  <wsdl:message name="MedicalContract_AddProvider_OutputMessage" />
  <wsdl:message name="MedicalContract_DeleteProvider_OutputMessage" />
  <wsdl:message name="MedicalContract_UpdateProvider_OutputMessage" />
  <wsdl:message name="ProviderIdRequestMessage">
    <wsdl:part name="parameters" element="tns:ProviderIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="ProviderMessage">
    <wsdl:part name="Provider" element="tns:Provider" />
  </wsdl:message>
  <wsdl:message name="ProvidersMessage">
    <wsdl:part name="Providers" element="tns:Providers" />
  </wsdl:message>
  <wsdl:message name="MedicalAppointmentRequestMessage">
    <wsdl:part name="parameters" element="tns:MedicalAppointmentRequestMessage" />
  </wsdl:message>
  <wsdl:message name="MedicalContract_AddMedicalAppointment_OutputMessage" />
  <wsdl:message name="MedicalContract_DeleteMedicalAppointment_OutputMessage" />
  <wsdl:message name="MedicalContract_UpdateMedicalAppointment_OutputMessage" />
  <wsdl:message name="MedicalAppointmentIdRequestMessage">
    <wsdl:part name="parameters" element="tns:MedicalAppointmentIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="MedicalAppointmentMessage">
    <wsdl:part name="MedicalAppointment" element="tns:MedicalAppointment" />
  </wsdl:message>
  <wsdl:message name="MedicalAppointmentsMessage">
    <wsdl:part name="MedicalAppointments" element="tns:MedicalAppointments" />
  </wsdl:message>
  <wsdl:portType name="MedicalContract">
    <wsdl:operation name="AddFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/AddFacility" name="FacilityRequestMessage" message="tns:FacilityRequestMessage" />
      <wsdl:output wsaw:Action="addfacility" message="tns:MedicalContract_AddFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/DeleteFacility" name="FacilityRequestMessage" message="tns:FacilityRequestMessage" />
      <wsdl:output wsaw:Action="deletefacility" message="tns:MedicalContract_DeleteFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/UpdateFacility" name="FacilityRequestMessage" message="tns:FacilityRequestMessage" />
      <wsdl:output wsaw:Action="updatefacility" message="tns:MedicalContract_UpdateFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacility">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Medical/MedicalContract/GetFacility" name="FacilityIdRequestMessage" message="tns:FacilityIdRequestMessage" />
      <wsdl:output wsaw:Action="getfacility" name="FacilityMessage" message="tns:FacilityMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacilitiesByAccount">
      <wsdl:input wsaw:Action="GetFacilitiesByAccount" name="AccountIdRequestMessage" message="tns:AccountIdRequestMessage" />
      <wsdl:output wsaw:Action="getfacilitiesbyaccount" name="FacilitiesMessage" message="tns:FacilitiesMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProvider">
      <wsdl:input wsaw:Action="AddProvider" name="ProviderRequestMessage" message="tns:ProviderRequestMessage" />
      <wsdl:output wsaw:Action="addprovider" message="tns:MedicalContract_AddProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProvider">
      <wsdl:input wsaw:Action="DeleteProvider" name="ProviderRequestMessage" message="tns:ProviderRequestMessage" />
      <wsdl:output wsaw:Action="deleteprovider" message="tns:MedicalContract_DeleteProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProvider">
      <wsdl:input wsaw:Action="UpdateProvider" name="ProviderRequestMessage" message="tns:ProviderRequestMessage" />
      <wsdl:output wsaw:Action="updateprovider" message="tns:MedicalContract_UpdateProvider_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvider">
      <wsdl:input wsaw:Action="GetProvider" name="ProviderIdRequestMessage" message="tns:ProviderIdRequestMessage" />
      <wsdl:output wsaw:Action="getprovider" name="ProviderMessage" message="tns:ProviderMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderByAccount">
      <wsdl:input wsaw:Action="GetProviderByAccount" name="AccountIdRequestMessage" message="tns:AccountIdRequestMessage" />
      <wsdl:output wsaw:Action="getproviderbyaccount" name="ProvidersMessage" message="tns:ProvidersMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderByFacility">
      <wsdl:input wsaw:Action="GetProviderByFacility" name="FacilityIdRequestMessage" message="tns:FacilityIdRequestMessage" />
      <wsdl:output wsaw:Action="getproviderbyfacility" name="ProvidersMessage" message="tns:ProvidersMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMedicalAppointment">
      <wsdl:input wsaw:Action="AddMedicalAppointment" name="MedicalAppointmentRequestMessage" message="tns:MedicalAppointmentRequestMessage" />
      <wsdl:output wsaw:Action="addmedicalappointment" message="tns:MedicalContract_AddMedicalAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalAppointment">
      <wsdl:input wsaw:Action="DeleteMedicalAppointment" name="MedicalAppointmentRequestMessage" message="tns:MedicalAppointmentRequestMessage" />
      <wsdl:output wsaw:Action="deletemedicalappointment" message="tns:MedicalContract_DeleteMedicalAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalAppointment">
      <wsdl:input wsaw:Action="UpdateMedicalAppointment" name="MedicalAppointmentRequestMessage" message="tns:MedicalAppointmentRequestMessage" />
      <wsdl:output wsaw:Action="updatemedicalappointment" message="tns:MedicalContract_UpdateMedicalAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointment">
      <wsdl:input wsaw:Action="GetMedicalAppointment" name="MedicalAppointmentIdRequestMessage" message="tns:MedicalAppointmentIdRequestMessage" />
      <wsdl:output wsaw:Action="getmedicalappointment" name="MedicalAppointmentMessage" message="tns:MedicalAppointmentMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByAccount">
      <wsdl:input wsaw:Action="GetMedicalAppointmentsByAccount" name="AccountIdRequestMessage" message="tns:AccountIdRequestMessage" />
      <wsdl:output wsaw:Action="GetMedicalAppointmentsByAccount" name="MedicalAppointmentsMessage" message="tns:MedicalAppointmentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByFacility">
      <wsdl:input wsaw:Action="GetMedicalAppointmentsByFacility" name="FacilityIdRequestMessage" message="tns:FacilityIdRequestMessage" />
      <wsdl:output wsaw:Action="getmedicalappointmentsbyfacility" name="MedicalAppointmentsMessage" message="tns:MedicalAppointmentsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByProvider">
      <wsdl:input wsaw:Action="GetMedicalAppointmentsByProvider" name="ProviderIdRequestMessage" message="tns:ProviderIdRequestMessage" />
      <wsdl:output wsaw:Action="getmedicalappointmentsbyprovider" name="MedicalAppointmentsMessage" message="tns:MedicalAppointmentsMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedicalBasicHttp" type="tns:MedicalContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/AddFacility" style="document" />
      <wsdl:input name="FacilityRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/DeleteFacility" style="document" />
      <wsdl:input name="FacilityRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/UpdateFacility" style="document" />
      <wsdl:input name="FacilityRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacility">
      <soap:operation soapAction="http://CareManagement.Model/2012/Medical/MedicalContract/GetFacility" style="document" />
      <wsdl:input name="FacilityIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilityMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacilitiesByAccount">
      <soap:operation soapAction="GetFacilitiesByAccount" style="document" />
      <wsdl:input name="AccountIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilitiesMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProvider">
      <soap:operation soapAction="AddProvider" style="document" />
      <wsdl:input name="ProviderRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProvider">
      <soap:operation soapAction="DeleteProvider" style="document" />
      <wsdl:input name="ProviderRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProvider">
      <soap:operation soapAction="UpdateProvider" style="document" />
      <wsdl:input name="ProviderRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvider">
      <soap:operation soapAction="GetProvider" style="document" />
      <wsdl:input name="ProviderIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProviderMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderByAccount">
      <soap:operation soapAction="GetProviderByAccount" style="document" />
      <wsdl:input name="AccountIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProvidersMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderByFacility">
      <soap:operation soapAction="GetProviderByFacility" style="document" />
      <wsdl:input name="FacilityIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProvidersMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMedicalAppointment">
      <soap:operation soapAction="AddMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMedicalAppointment">
      <soap:operation soapAction="DeleteMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMedicalAppointment">
      <soap:operation soapAction="UpdateMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointment">
      <soap:operation soapAction="GetMedicalAppointment" style="document" />
      <wsdl:input name="MedicalAppointmentIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByAccount">
      <soap:operation soapAction="GetMedicalAppointmentsByAccount" style="document" />
      <wsdl:input name="AccountIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByFacility">
      <soap:operation soapAction="GetMedicalAppointmentsByFacility" style="document" />
      <wsdl:input name="FacilityIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicalAppointmentsByProvider">
      <soap:operation soapAction="GetMedicalAppointmentsByProvider" style="document" />
      <wsdl:input name="ProviderIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MedicalAppointmentsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedicalService">
    <wsdl:port name="MedicalBasicHttp" binding="tns:MedicalBasicHttp">
      <soap:address location="http://localhost:4538/Service.Host/MedicalServiceReference.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>