Service/Tests/Service.Client/Service References/MedicalServiceReference/MedicalServiceReference51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Medical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://lerwick-lt/CareManagementService/MedicalServiceReference.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Scheduling" />
  <xs:complexType name="Facility">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Facility" nillable="true" type="tns:Facility" />
  <xs:complexType name="ArrayOfFacility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Facility" nillable="true" type="tns:Facility" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFacility" nillable="true" type="tns:ArrayOfFacility" />
  <xs:complexType name="Provider">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FacilityId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provider" nillable="true" type="tns:Provider" />
  <xs:complexType name="ArrayOfProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provider" nillable="true" type="tns:Provider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvider" nillable="true" type="tns:ArrayOfProvider" />
  <xs:complexType name="MedicalAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AppointmentDateTimeUtc" type="q1:DateTimeOffset" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Scheduling" minOccurs="0" name="AppointmentLengthUnits" nillable="true" type="q2:ScheduleUnits" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProviderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalAppointment" nillable="true" type="tns:MedicalAppointment" />
  <xs:complexType name="ArrayOfMedicalAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicalAppointment" nillable="true" type="tns:MedicalAppointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicalAppointment" nillable="true" type="tns:ArrayOfMedicalAppointment" />
</xs:schema>