Service/Tests/Service.Client/Service References/AccountServiceReference/AccountService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CareManagement.Model/2012/Accounts" elementFormDefault="qualified" targetNamespace="http://CareManagement.Model/2012/Accounts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lerwick-lt/CareManagementService/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Account" />
  <xs:element name="AddAccountMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Account" minOccurs="0" name="Account" nillable="true" type="q1:Account" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Account" name="Account" nillable="true" type="q2:Account" />
</xs:schema>