Service/Tests/Service.Client/Service References/PrescriptionServiceReference/PrescriptionServiceReference53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CareManagement.Model/2012/Prescription" elementFormDefault="qualified" targetNamespace="http://CareManagement.Model/2012/Prescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lerwick-lt/CareManagementService/PrescriptionServiceReference.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="Medication" nillable="true" type="q1:Medication" />
  <xs:element name="MedicationId" type="xs:int" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="Medications" nillable="true" type="q2:ArrayOfMedication" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="PrescriptionPickup" nillable="true" type="q3:PrescriptionPickup" />
  <xs:element name="PrescriptionPickupId" type="xs:int" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="PrescriptionPickups" nillable="true" type="q4:ArrayOfPrescriptionPickup" />
</xs:schema>