Service/Tests/Service.Client/Service References/PrescriptionServiceReference/PrescriptionServiceReference5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CareManagement.Model/2012/Prescription" elementFormDefault="qualified" targetNamespace="http://CareManagement.Model/2012/Prescription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4538/Service.Host/PrescriptionServiceReference.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" />
  <xs:import schemaLocation="http://localhost:4538/Service.Host/PrescriptionServiceReference.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" />
  <xs:element name="MedicationRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" minOccurs="0" name="Medication" nillable="true" type="q1:Medication" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q2:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MedicationIdMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MedicationId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q3:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="Medication" nillable="true" type="q4:Medication" />
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="Medications" nillable="true" type="q5:ArrayOfMedication" />
  <xs:element name="PrescriptionPickupRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" minOccurs="0" name="PrescriptionPickup" nillable="true" type="q6:PrescriptionPickup" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q7:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrescriptionPickupIdMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrescriptionPickupId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q8:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="PrescriptionPickup" nillable="true" type="q9:PrescriptionPickup" />
  <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Prescription" name="PrescriptionPickups" nillable="true" type="q10:ArrayOfPrescriptionPickup" />
</xs:schema>