Service/Tests/Service.Client/Service References/PrescriptionServiceReference/PrescriptionServiceReference.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CareManagement.Model/2012/Accounts" elementFormDefault="qualified" targetNamespace="http://CareManagement.Model/2012/Accounts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4538/Service.Host/PrescriptionServiceReference.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" />
  <xs:element name="AccountIdMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q1:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>