Service/Tests/Service.Client/Service References/InsuranceServiceReference/InsuranceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://CareManagement.Model/2012/Insurance" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InsuranceService" targetNamespace="http://CareManagement.Model/2012/Insurance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Insurance_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://CareManagement.Model/2012/Insurance/Imports">
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/InsuranceServiceReference.svc?xsd=xsd2" namespace="http://CareManagement.Model/2012/Insurance" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/InsuranceServiceReference.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/InsuranceServiceReference.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" />
      <xsd:import schemaLocation="http://lerwick-lt/CareManagementService/InsuranceServiceReference.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InsurerMessage">
    <wsdl:part name="Insurer" element="tns:Insurer" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddInsurer_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteInsurer_OutputMessage" />
  <wsdl:message name="InsurerIdMessage">
    <wsdl:part name="InsurerId" element="tns:InsurerId" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_UpdateInsurer_OutputMessage" />
  <wsdl:message name="AccountIdMessage">
    <wsdl:part name="AccountId" element="tns:AccountId" />
  </wsdl:message>
  <wsdl:message name="InsurersMessage">
    <wsdl:part name="Insurers" element="tns:Insurers" />
  </wsdl:message>
  <wsdl:message name="AuthorizationFollowUpMessage">
    <wsdl:part name="AuthorizationFollowUp" element="tns:AuthorizationFollowUp" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddAuthorizationFollowUp_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteAuthorizationFollowUp_OutputMessage" />
  <wsdl:message name="InsuranceContract_UpdateAuthorizationFollowUp_OutputMessage" />
  <wsdl:message name="AuthorizationFollowUpsMessage">
    <wsdl:part name="AuthorizationFollowUps" element="tns:AuthorizationFollowUps" />
  </wsdl:message>
  <wsdl:message name="AuthorizationRequestIdMessage">
    <wsdl:part name="AuthorizationRequestId" element="tns:AuthorizationRequestId" />
  </wsdl:message>
  <wsdl:message name="AuthorizationFollowUpIdMessage">
    <wsdl:part name="AuthorizationFollowUpId" element="tns:AuthorizationFollowUpId" />
  </wsdl:message>
  <wsdl:message name="AuthorizationRequestMessage">
    <wsdl:part name="AuthorizationRequest" element="tns:AuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddAuthorizationRequest_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteAuthorizationRequest_OutputMessage" />
  <wsdl:message name="InsuranceContract_UpdateAuthorizationRequest_OutputMessage" />
  <wsdl:message name="AuthorizationRequestsMessage">
    <wsdl:part name="AuthorizationRequests" element="tns:AuthorizationRequests" />
  </wsdl:message>
  <wsdl:message name="AuthorizationNoteMessage">
    <wsdl:part name="AuthorizationNote" element="tns:AuthorizationNote" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddAuthorizationNote_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteAuthorizationNote_OutputMessage" />
  <wsdl:message name="InsuranceContract_UpdateAuthorizationNote_OutputMessage" />
  <wsdl:message name="AuthorizationNoteIdMessage">
    <wsdl:part name="AuthorizationNoteId" element="tns:AuthorizationNoteId" />
  </wsdl:message>
  <wsdl:message name="AuthorizationNotesMessage">
    <wsdl:part name="AuthorizationNotes" element="tns:AuthorizationNotes" />
  </wsdl:message>
  <wsdl:portType name="InsuranceContract">
    <wsdl:operation name="AddInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddInsurer" name="InsurerMessage" message="tns:InsurerMessage" />
      <wsdl:output wsaw:Action="addinsurer" message="tns:InsuranceContract_AddInsurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteInsurer" name="InsurerMessage" message="tns:InsurerMessage" />
      <wsdl:output wsaw:Action="deleteinsurer" message="tns:InsuranceContract_DeleteInsurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurer" name="InsurerIdMessage" message="tns:InsurerIdMessage" />
      <wsdl:output wsaw:Action="getinsurer" name="InsurerMessage" message="tns:InsurerMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateInsurer" name="InsurerMessage" message="tns:InsurerMessage" />
      <wsdl:output wsaw:Action="updateinsurer" message="tns:InsuranceContract_UpdateInsurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsurersByAccount">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurersByAccount" name="AccountIdMessage" message="tns:AccountIdMessage" />
      <wsdl:output wsaw:Action="getinsurersbyaccount" name="InsurersMessage" message="tns:InsurersMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddAuthorizationFollowUp" name="AuthorizationFollowUpMessage" message="tns:AuthorizationFollowUpMessage" />
      <wsdl:output wsaw:Action="addauthorizationfollowup" message="tns:InsuranceContract_AddAuthorizationFollowUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteAuthorizationFollowUp" name="AuthorizationFollowUpMessage" message="tns:AuthorizationFollowUpMessage" />
      <wsdl:output wsaw:Action="deleteauthorizationfollowup" message="tns:InsuranceContract_DeleteAuthorizationFollowUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateAuthorizationFollowUp" name="AuthorizationFollowUpMessage" message="tns:AuthorizationFollowUpMessage" />
      <wsdl:output wsaw:Action="updateauthorizationfollowup" message="tns:InsuranceContract_UpdateAuthorizationFollowUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAccount">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAccount" name="AccountIdMessage" message="tns:AccountIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationfollowupbyaccount" name="AuthorizationFollowUpsMessage" message="tns:AuthorizationFollowUpsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAuthorizationRequest">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAuthorizationRequest" name="AuthorizationRequestIdMessage" message="tns:AuthorizationRequestIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationfollowupsbyauthorization" name="AuthorizationFollowUpsMessage" message="tns:AuthorizationFollowUpsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUp" name="AuthorizationFollowUpIdMessage" message="tns:AuthorizationFollowUpIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationfollowup" name="AuthorizationFollowUpMessage" message="tns:AuthorizationFollowUpMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationRequest">
      <wsdl:input wsaw:Action="AddAuthorizationRequest" name="AuthorizationRequestMessage" message="tns:AuthorizationRequestMessage" />
      <wsdl:output wsaw:Action="addauthorizationrequest" message="tns:InsuranceContract_AddAuthorizationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationRequest">
      <wsdl:input wsaw:Action="DeleteAuthorizationRequest" name="AuthorizationRequestMessage" message="tns:AuthorizationRequestMessage" />
      <wsdl:output wsaw:Action="deleteauthorizationrequest" message="tns:InsuranceContract_DeleteAuthorizationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationRequest">
      <wsdl:input wsaw:Action="UpdateAuthorizationRequest" name="AuthorizationRequestMessage" message="tns:AuthorizationRequestMessage" />
      <wsdl:output wsaw:Action="updateauthorizationrequest" message="tns:InsuranceContract_UpdateAuthorizationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequest">
      <wsdl:input wsaw:Action="GetAuthorizationRequest" name="AuthorizationRequestIdMessage" message="tns:AuthorizationRequestIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationrequest" name="AuthorizationRequestMessage" message="tns:AuthorizationRequestMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByAccount">
      <wsdl:input wsaw:Action="GetAuthorizationRequestsByAccount" name="AccountIdMessage" message="tns:AccountIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationrequestsbyaccount" name="AuthorizationRequestsMessage" message="tns:AuthorizationRequestsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByInsurer">
      <wsdl:input wsaw:Action="GetAuthorizationRequestsByInsurer" name="InsurerIdMessage" message="tns:InsurerIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationrequestsbyinsurer" name="AuthorizationRequestsMessage" message="tns:AuthorizationRequestsMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationNote">
      <wsdl:input wsaw:Action="AddAuthorizationNote" name="AuthorizationNoteMessage" message="tns:AuthorizationNoteMessage" />
      <wsdl:output wsaw:Action="addauthorizationnote" message="tns:InsuranceContract_AddAuthorizationNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationNote">
      <wsdl:input wsaw:Action="DeleteAuthorizationNote" name="AuthorizationNoteMessage" message="tns:AuthorizationNoteMessage" />
      <wsdl:output wsaw:Action="deleteauthorizationnote" message="tns:InsuranceContract_DeleteAuthorizationNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationNote">
      <wsdl:input wsaw:Action="UpdateAuthorizationNote" name="AuthorizationNoteMessage" message="tns:AuthorizationNoteMessage" />
      <wsdl:output wsaw:Action="updateauthorizationnote" message="tns:InsuranceContract_UpdateAuthorizationNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNote">
      <wsdl:input wsaw:Action="GetAuthorizationNote" name="AuthorizationNoteIdMessage" message="tns:AuthorizationNoteIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationnote" name="AuthorizationNoteMessage" message="tns:AuthorizationNoteMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAccount">
      <wsdl:input wsaw:Action="GetAuthorizationNotesByAccount" name="AccountIdMessage" message="tns:AccountIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationnotesbyaccount" name="AuthorizationNotesMessage" message="tns:AuthorizationNotesMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAuthorizationRequest">
      <wsdl:input wsaw:Action="GetAuthorizationNotesByAuthorizationRequest" name="AuthorizationRequestIdMessage" message="tns:AuthorizationRequestIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationnotesbyauthorizationrequest" name="AuthorizationNotesMessage" message="tns:AuthorizationNotesMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Insurance" type="tns:InsuranceContract">
    <wsp:PolicyReference URI="#Insurance_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddInsurer" style="document" />
      <wsdl:input name="InsurerMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteInsurer" style="document" />
      <wsdl:input name="InsurerMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurer" style="document" />
      <wsdl:input name="InsurerIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InsurerMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateInsurer" style="document" />
      <wsdl:input name="InsurerMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsurersByAccount">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurersByAccount" style="document" />
      <wsdl:input name="AccountIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InsurersMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAccount">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAccount" style="document" />
      <wsdl:input name="AccountIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationFollowUpsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAuthorizationRequest">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationFollowUpsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationFollowUpMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationRequest">
      <soap:operation soapAction="AddAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationRequest">
      <soap:operation soapAction="DeleteAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationRequest">
      <soap:operation soapAction="UpdateAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequest">
      <soap:operation soapAction="GetAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationRequestMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByAccount">
      <soap:operation soapAction="GetAuthorizationRequestsByAccount" style="document" />
      <wsdl:input name="AccountIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationRequestsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByInsurer">
      <soap:operation soapAction="GetAuthorizationRequestsByInsurer" style="document" />
      <wsdl:input name="InsurerIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationRequestsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationNote">
      <soap:operation soapAction="AddAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationNote">
      <soap:operation soapAction="DeleteAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationNote">
      <soap:operation soapAction="UpdateAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNote">
      <soap:operation soapAction="GetAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationNoteMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAccount">
      <soap:operation soapAction="GetAuthorizationNotesByAccount" style="document" />
      <wsdl:input name="AccountIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationNotesMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAuthorizationRequest">
      <soap:operation soapAction="GetAuthorizationNotesByAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationNotesMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsuranceService">
    <wsdl:port name="Insurance" binding="tns:Insurance">
      <soap:address location="https://lerwick-lt/CareManagementService/InsuranceServiceReference.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>