Service/Tests/Service.Client/Service References/InsuranceServiceReference/InsuranceServiceReference31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CareManagement.Model/2012/Insurance" elementFormDefault="qualified" targetNamespace="http://CareManagement.Model/2012/Insurance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lerwick-lt/CareManagementService/InsuranceServiceReference.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="Insurer" nillable="true" type="q1:Insurer" />
  <xs:element name="InsurerId" type="xs:int" />
  <xs:element name="AccountId" type="xs:int" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="Insurers" nillable="true" type="q2:ArrayOfInsurer" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationFollowUp" nillable="true" type="q3:AuthorizationFollowUp" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationFollowUps" nillable="true" type="q4:ArrayOfAuthorizationFollowUp" />
  <xs:element name="AuthorizationRequestId" type="xs:int" />
  <xs:element name="AuthorizationFollowUpId" type="xs:int" />
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationRequest" nillable="true" type="q5:AuthorizationRequest" />
  <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationRequests" nillable="true" type="q6:ArrayOfAuthorizationRequest" />
  <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationNote" nillable="true" type="q7:AuthorizationNote" />
  <xs:element name="AuthorizationNoteId" type="xs:int" />
  <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationNotes" nillable="true" type="q8:ArrayOfAuthorizationNote" />
</xs:schema>