Service/Tests/Service.Client/Service References/InsuranceServiceReference/InsuranceReference1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="Insurer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Insurer" nillable="true" type="tns:Insurer" />
  <xs:complexType name="ArrayOfInsurer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Insurer" nillable="true" type="tns:Insurer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsurer" nillable="true" type="tns:ArrayOfInsurer" />
  <xs:complexType name="AuthorizationFollowUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AppointmentDateTimeUtc" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="AuthorizationRequestId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationFollowUp" nillable="true" type="tns:AuthorizationFollowUp" />
  <xs:complexType name="ArrayOfAuthorizationFollowUp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorizationFollowUp" nillable="true" type="tns:AuthorizationFollowUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorizationFollowUp" nillable="true" type="tns:ArrayOfAuthorizationFollowUp" />
  <xs:complexType name="AuthorizationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InsurerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationRequest" nillable="true" type="tns:AuthorizationRequest" />
  <xs:complexType name="ArrayOfAuthorizationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorizationRequest" nillable="true" type="tns:AuthorizationRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorizationRequest" nillable="true" type="tns:ArrayOfAuthorizationRequest" />
  <xs:complexType name="AuthorizationNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizationRequestId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Created" type="q2:DateTimeOffset" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationNote" nillable="true" type="tns:AuthorizationNote" />
  <xs:complexType name="ArrayOfAuthorizationNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorizationNote" nillable="true" type="tns:AuthorizationNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorizationNote" nillable="true" type="tns:ArrayOfAuthorizationNote" />
</xs:schema>