Service/Tests/Service.Client/Service References/InsuranceServiceReference/InsuranceReference3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CareManagement.Model/2012/Insurance" elementFormDefault="qualified" targetNamespace="http://CareManagement.Model/2012/Insurance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" />
  <xs:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" />
  <xs:element name="InsurerRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" minOccurs="0" name="Insurer" nillable="true" type="q1:Insurer" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q2:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsurerIdRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsurerId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q3:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="Insurer" nillable="true" type="q4:Insurer" />
  <xs:element name="AccountIdRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q5:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="Insurers" nillable="true" type="q6:ArrayOfInsurer" />
  <xs:element name="AuthorizationFollowUpRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" minOccurs="0" name="AuthorizationFollowUp" nillable="true" type="q7:AuthorizationFollowUp" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q8:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationFollowUps" nillable="true" type="q9:ArrayOfAuthorizationFollowUp" />
  <xs:element name="AuthorizationRequestIdMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationRequestId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q10:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationFollowUpIdRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationFollowUpId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q11:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationFollowUp" nillable="true" type="q12:AuthorizationFollowUp" />
  <xs:element name="AuthorizationRequestRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" minOccurs="0" name="AuthorizationRequest" nillable="true" type="q13:AuthorizationRequest" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q14:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationRequest" nillable="true" type="q15:AuthorizationRequest" />
  <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationRequests" nillable="true" type="q16:ArrayOfAuthorizationRequest" />
  <xs:element name="AuthorizationNoteRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" minOccurs="0" name="AuthorizationNote" nillable="true" type="q17:AuthorizationNote" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q18:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationNoteIdRequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorizationNoteId" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" minOccurs="0" name="User" nillable="true" type="q19:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationNote" nillable="true" type="q20:AuthorizationNote" />
  <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" name="AuthorizationNotes" nillable="true" type="q21:ArrayOfAuthorizationNote" />
</xs:schema>