Service/Tests/Service.Client/Service References/InsuranceServiceReference/InsuranceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://CareManagement.Model/2012/Insurance" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InsuranceService" targetNamespace="http://CareManagement.Model/2012/Insurance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://CareManagement.Model/2012/Insurance/Imports">
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd0" namespace="http://CareManagement.Model/2012/Insurance" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Insurance" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Model.Security" />
      <xsd:import schemaLocation="http://localhost:4538/Service.Host/InsuranceReference.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InsurerRequestMessage">
    <wsdl:part name="parameters" element="tns:InsurerRequestMessage" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddInsurer_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteInsurer_OutputMessage" />
  <wsdl:message name="InsurerIdRequestMessage">
    <wsdl:part name="parameters" element="tns:InsurerIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="InsurerMessage">
    <wsdl:part name="Insurer" element="tns:Insurer" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_UpdateInsurer_OutputMessage" />
  <wsdl:message name="AccountIdRequestMessage">
    <wsdl:part name="parameters" element="tns:AccountIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="InsurersMessage">
    <wsdl:part name="Insurers" element="tns:Insurers" />
  </wsdl:message>
  <wsdl:message name="AuthorizationFollowUpRequestMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationFollowUpRequestMessage" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddAuthorizationFollowUp_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteAuthorizationFollowUp_OutputMessage" />
  <wsdl:message name="InsuranceContract_UpdateAuthorizationFollowUp_OutputMessage" />
  <wsdl:message name="AuthorizationFollowUpsMessage">
    <wsdl:part name="AuthorizationFollowUps" element="tns:AuthorizationFollowUps" />
  </wsdl:message>
  <wsdl:message name="AuthorizationRequestIdMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationRequestIdMessage" />
  </wsdl:message>
  <wsdl:message name="AuthorizationFollowUpIdRequestMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationFollowUpIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="AuthorizationFollowUpMessage">
    <wsdl:part name="AuthorizationFollowUp" element="tns:AuthorizationFollowUp" />
  </wsdl:message>
  <wsdl:message name="AuthorizationRequestRequestMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationRequestRequestMessage" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddAuthorizationRequest_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteAuthorizationRequest_OutputMessage" />
  <wsdl:message name="InsuranceContract_UpdateAuthorizationRequest_OutputMessage" />
  <wsdl:message name="AuthorizationRequestMessage">
    <wsdl:part name="AuthorizationRequest" element="tns:AuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="AuthorizationRequestsMessage">
    <wsdl:part name="AuthorizationRequests" element="tns:AuthorizationRequests" />
  </wsdl:message>
  <wsdl:message name="AuthorizationNoteRequestMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationNoteRequestMessage" />
  </wsdl:message>
  <wsdl:message name="InsuranceContract_AddAuthorizationNote_OutputMessage" />
  <wsdl:message name="InsuranceContract_DeleteAuthorizationNote_OutputMessage" />
  <wsdl:message name="InsuranceContract_UpdateAuthorizationNote_OutputMessage" />
  <wsdl:message name="AuthorizationNoteIdRequestMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationNoteIdRequestMessage" />
  </wsdl:message>
  <wsdl:message name="AuthorizationNoteMessage">
    <wsdl:part name="AuthorizationNote" element="tns:AuthorizationNote" />
  </wsdl:message>
  <wsdl:message name="AuthorizationNotesMessage">
    <wsdl:part name="AuthorizationNotes" element="tns:AuthorizationNotes" />
  </wsdl:message>
  <wsdl:portType name="InsuranceContract">
    <wsdl:operation name="AddInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddInsurer" name="InsurerRequestMessage" message="tns:InsurerRequestMessage" />
      <wsdl:output wsaw:Action="addinsurer" message="tns:InsuranceContract_AddInsurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteInsurer" name="InsurerRequestMessage" message="tns:InsurerRequestMessage" />
      <wsdl:output wsaw:Action="deleteinsurer" message="tns:InsuranceContract_DeleteInsurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurer" name="InsurerIdRequestMessage" message="tns:InsurerIdRequestMessage" />
      <wsdl:output wsaw:Action="getinsurer" name="InsurerMessage" message="tns:InsurerMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInsurer">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateInsurer" name="InsurerRequestMessage" message="tns:InsurerRequestMessage" />
      <wsdl:output wsaw:Action="updateinsurer" message="tns:InsuranceContract_UpdateInsurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsurersByAccount">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurersByAccount" name="AccountIdRequestMessage" message="tns:AccountIdRequestMessage" />
      <wsdl:output wsaw:Action="getinsurersbyaccount" name="InsurersMessage" message="tns:InsurersMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddAuthorizationFollowUp" name="AuthorizationFollowUpRequestMessage" message="tns:AuthorizationFollowUpRequestMessage" />
      <wsdl:output wsaw:Action="addauthorizationfollowup" message="tns:InsuranceContract_AddAuthorizationFollowUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteAuthorizationFollowUp" name="AuthorizationFollowUpRequestMessage" message="tns:AuthorizationFollowUpRequestMessage" />
      <wsdl:output wsaw:Action="deleteauthorizationfollowup" message="tns:InsuranceContract_DeleteAuthorizationFollowUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateAuthorizationFollowUp" name="AuthorizationFollowUpRequestMessage" message="tns:AuthorizationFollowUpRequestMessage" />
      <wsdl:output wsaw:Action="updateauthorizationfollowup" message="tns:InsuranceContract_UpdateAuthorizationFollowUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAccount">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAccount" name="AccountIdRequestMessage" message="tns:AccountIdRequestMessage" />
      <wsdl:output wsaw:Action="getauthorizationfollowupbyaccount" name="AuthorizationFollowUpsMessage" message="tns:AuthorizationFollowUpsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAuthorizationRequest">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAuthorizationRequest" name="AuthorizationRequestIdMessage" message="tns:AuthorizationRequestIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationfollowupsbyauthorization" name="AuthorizationFollowUpsMessage" message="tns:AuthorizationFollowUpsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUp">
      <wsdl:input wsaw:Action="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUp" name="AuthorizationFollowUpIdRequestMessage" message="tns:AuthorizationFollowUpIdRequestMessage" />
      <wsdl:output wsaw:Action="getauthorizationfollowup" name="AuthorizationFollowUpMessage" message="tns:AuthorizationFollowUpMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationRequest">
      <wsdl:input wsaw:Action="AddAuthorizationRequest" name="AuthorizationRequestRequestMessage" message="tns:AuthorizationRequestRequestMessage" />
      <wsdl:output wsaw:Action="addauthorizationrequest" message="tns:InsuranceContract_AddAuthorizationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationRequest">
      <wsdl:input wsaw:Action="DeleteAuthorizationRequest" name="AuthorizationRequestRequestMessage" message="tns:AuthorizationRequestRequestMessage" />
      <wsdl:output wsaw:Action="deleteauthorizationrequest" message="tns:InsuranceContract_DeleteAuthorizationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationRequest">
      <wsdl:input wsaw:Action="UpdateAuthorizationRequest" name="AuthorizationRequestRequestMessage" message="tns:AuthorizationRequestRequestMessage" />
      <wsdl:output wsaw:Action="updateauthorizationrequest" message="tns:InsuranceContract_UpdateAuthorizationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequest">
      <wsdl:input wsaw:Action="GetAuthorizationRequest" name="AuthorizationRequestIdMessage" message="tns:AuthorizationRequestIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationrequest" name="AuthorizationRequestMessage" message="tns:AuthorizationRequestMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByAccount">
      <wsdl:input wsaw:Action="GetAuthorizationRequestsByAccount" name="AccountIdRequestMessage" message="tns:AccountIdRequestMessage" />
      <wsdl:output wsaw:Action="getauthorizationrequestsbyaccount" name="AuthorizationRequestsMessage" message="tns:AuthorizationRequestsMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByInsurer">
      <wsdl:input wsaw:Action="GetAuthorizationRequestsByInsurer" name="InsurerIdRequestMessage" message="tns:InsurerIdRequestMessage" />
      <wsdl:output wsaw:Action="getauthorizationrequestsbyinsurer" name="AuthorizationRequestsMessage" message="tns:AuthorizationRequestsMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationNote">
      <wsdl:input wsaw:Action="AddAuthorizationNote" name="AuthorizationNoteRequestMessage" message="tns:AuthorizationNoteRequestMessage" />
      <wsdl:output wsaw:Action="addauthorizationnote" message="tns:InsuranceContract_AddAuthorizationNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationNote">
      <wsdl:input wsaw:Action="DeleteAuthorizationNote" name="AuthorizationNoteRequestMessage" message="tns:AuthorizationNoteRequestMessage" />
      <wsdl:output wsaw:Action="deleteauthorizationnote" message="tns:InsuranceContract_DeleteAuthorizationNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationNote">
      <wsdl:input wsaw:Action="UpdateAuthorizationNote" name="AuthorizationNoteRequestMessage" message="tns:AuthorizationNoteRequestMessage" />
      <wsdl:output wsaw:Action="updateauthorizationnote" message="tns:InsuranceContract_UpdateAuthorizationNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNote">
      <wsdl:input wsaw:Action="GetAuthorizationNote" name="AuthorizationNoteIdRequestMessage" message="tns:AuthorizationNoteIdRequestMessage" />
      <wsdl:output wsaw:Action="getauthorizationnote" name="AuthorizationNoteMessage" message="tns:AuthorizationNoteMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAccount">
      <wsdl:input wsaw:Action="GetAuthorizationNotesByAccount" name="AccountIdRequestMessage" message="tns:AccountIdRequestMessage" />
      <wsdl:output wsaw:Action="getauthorizationnotesbyaccount" name="AuthorizationNotesMessage" message="tns:AuthorizationNotesMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAuthorizationRequest">
      <wsdl:input wsaw:Action="GetAuthorizationNotesByAuthorizationRequest" name="AuthorizationRequestIdMessage" message="tns:AuthorizationRequestIdMessage" />
      <wsdl:output wsaw:Action="getauthorizationnotesbyauthorizationrequest" name="AuthorizationNotesMessage" message="tns:AuthorizationNotesMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsuranceBasicHttp" type="tns:InsuranceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddInsurer" style="document" />
      <wsdl:input name="InsurerRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteInsurer" style="document" />
      <wsdl:input name="InsurerRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurer" style="document" />
      <wsdl:input name="InsurerIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InsurerMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsurer">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateInsurer" style="document" />
      <wsdl:input name="InsurerRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsurersByAccount">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetInsurersByAccount" style="document" />
      <wsdl:input name="AccountIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InsurersMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/AddAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/DeleteAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/UpdateAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAccount">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAccount" style="document" />
      <wsdl:input name="AccountIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationFollowUpsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUpsByAuthorizationRequest">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUpsByAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationFollowUpsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationFollowUp">
      <soap:operation soapAction="http://CareManagement.Model/2012/Insurance/InsuranceContract/GetAuthorizationFollowUp" style="document" />
      <wsdl:input name="AuthorizationFollowUpIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationFollowUpMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationRequest">
      <soap:operation soapAction="AddAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationRequest">
      <soap:operation soapAction="DeleteAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationRequest">
      <soap:operation soapAction="UpdateAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequest">
      <soap:operation soapAction="GetAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationRequestMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByAccount">
      <soap:operation soapAction="GetAuthorizationRequestsByAccount" style="document" />
      <wsdl:input name="AccountIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationRequestsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationRequestsByInsurer">
      <soap:operation soapAction="GetAuthorizationRequestsByInsurer" style="document" />
      <wsdl:input name="InsurerIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationRequestsMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorizationNote">
      <soap:operation soapAction="AddAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorizationNote">
      <soap:operation soapAction="DeleteAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthorizationNote">
      <soap:operation soapAction="UpdateAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNote">
      <soap:operation soapAction="GetAuthorizationNote" style="document" />
      <wsdl:input name="AuthorizationNoteIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationNoteMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAccount">
      <soap:operation soapAction="GetAuthorizationNotesByAccount" style="document" />
      <wsdl:input name="AccountIdRequestMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationNotesMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizationNotesByAuthorizationRequest">
      <soap:operation soapAction="GetAuthorizationNotesByAuthorizationRequest" style="document" />
      <wsdl:input name="AuthorizationRequestIdMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AuthorizationNotesMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsuranceService">
    <wsdl:port name="InsuranceBasicHttp" binding="tns:InsuranceBasicHttp">
      <soap:address location="http://localhost:4538/Service.Host/InsuranceReference.svc/basicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>